@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova/proximanovalight-webfont.eot');
    src: url('fonts/proximanova/proximanovalight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanovalight-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanovalight-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanovalight-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova/proximanovaregular-webfont.eot');
    src: url('fonts/proximanova/proximanovaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanovaregular-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanovaregular-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanovaregular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova/proximanovasemibold-webfont.eot');
    src: url('fonts/proximanova/proximanovasemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanovasemibold-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanovasemibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanovasemibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova/proximanovabold-webfont.eot');
    src: url('fonts/proximanova/proximanovabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova/proximanovabold-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanovabold-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanovabold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/robotoslab/RobotoSlab-Bold-webfont.eot');
    src: url('fonts/robotoslab/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('fonts/robotoslab/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('fonts/robotoslab/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/robotoslab/RobotoSlab-Light-webfont.eot');
    src: url('fonts/robotoslab/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab/RobotoSlab-Light-webfont.woff') format('woff'),
         url('fonts/robotoslab/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('fonts/robotoslab/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/robotoslab/RobotoSlab-Regular-webfont.eot');
    src: url('fonts/robotoslab/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/robotoslab/RobotoSlab-Thin-webfont.eot');
    src: url('fonts/robotoslab/RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab/RobotoSlab-Thin-webfont.woff') format('woff'),
         url('fonts/robotoslab/RobotoSlab-Thin-webfont.ttf') format('truetype'),
         url('fonts/robotoslab/RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: 100;
    font-style: normal;
}

body#tinymce.wp-editor {
    color: #404040;
	font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
body#tinymce.wp-editor h1, h2, h3 {
    font-family: @header-fonts;
	line-height: 1.5;
}
body#tinymce.wp-editor h1 {
    font-size: 1.56em;
	font-weight: 600;
}
body#tinymce.wp-editor h2 {
    font-size: 1.25em;
	font-weight: 300;
}
body#tinymce.wp-editor h3 {
    ont-size: 1em;
	font-weight: 300;
}
